---
---

<div
  class="text-muted text-sm bg-[#dbeafe] dark:bg-transparent dark:border-b dark:border-slate-800 dark:text-slate-400 hidden md:block overflow-hidden px-3 py-2 relative text-ellipsis whitespace-nowrap"
>
  <span class="dark:bg-slate-700 bg-white/40 dark:text-slate-300 font-semibold px-1 py-0.5 text-xs mr-0.5 rtl:mr-0 rtl:ml-0.5 inline-block">NEW</span>
  <a href="/iuls" class="text-muted hover:underline dark:text-slate-400 font-medium"
    >IULs for the whole family!! »</a
  >
  <a
    target="_blank"
    rel="noopener"
    class="float-right rtl:float-left"
    title="Contact Us"
    href="/contact"
  >
    Call for an Appointment: 777-555-2132
  </a>
</div>
